<div class="panel_contents">
  <form method="get" id="q_search" class="filter_form" action="/admin/items" accept-charset="UTF-8">
    <div class="filter_form_field filter_string">
      <input type="text" name="search" id="q_email" placeholder="Search" />
    </div>
  </form>
</div>