<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta charset="UTF-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>Demo Mailer</title>
  </head>
  <body>
    <table cellpadding="0" cellspacing="0" width="100%">
      <tr>
        <td align="left" valign="top">
          <table align="center" cellpadding="0" cellspacing="0" class="main-emailer" style=" box-shadow: 0 3px 10px rgba(191, 187, 187, 0.35);" valign="center" width="600px">
            <tr>
              <td align="left" valign="top" width="100%">
                <img alt="logo" src="http://localhost:3000/assets/header.jpeg" width="100%"/>
              </td>
            </tr>
            <tr>
              <td align="left" valign="top">
                <table align="left" bgcolor="#fff" cellpadding="0" cellspacing="0" class="mailer-property-box" style="padding: 40px;" valign="top" width="100%">
                  <tr>
                    <td align="left" valign="top">
                      <h1 style="font-size: 35px; margin:20px 0 20px 0; font-family:Avenir;">
                       Welcome To Our Site
                      </h1>
                      <h4>prisha@yopmail.com</h4>

                      <h2 style="font-size: 28px; color: #558b56e0; margin:0 0 10px 0; font-family:Avenir;"> 
                        Congratulatoins...
                      </h2>
                      <p style="padding: 0px 100px;">
                        <img style="width: 120px; border-radius: 50px;" src="cid:63d27f0459edf_67978150a488797@rails-20.mail" >
                      </p>
                      <p style="margin:0 0 12px 0;font-size:16px;line-height:24px;font-family:Avenir">
                        You have successfully signed up to our site,<br>
                        your username is: prisha@yopmail.com.<br>
                        your password is: 123456.<br>
                      </p>
                      <p style="margin:0;font-size:16px;line-height:24px;font-family:Avenir;">
                        To login to the site, just follow this link:
                        <a href="http://localhost:3000/admin/login" style="color:#FF7A59;text-decoration:underline;">
                          http://localhost:3000/admin/login.
                        </a>
                      </p>
                      <p style="margin:0;font-size:16px;line-height:24px;font-family:Avenir;">
                        Thanks for joining and have a great day!
                      </p>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td align="left" class="footer-property-box" valign="top">
                <img src="http://localhost:3000/assets/footer.png" width="100%"/>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>

  </body>
</html>