<!-- <div class="container">
	<%# @plans.each do |plan|%>
		<div class="card border-0" style="width: 18rem;">
			<div class="card-header">
		    <h5 class="card-title"><%#= plan.name%></h5>
		  </div>
		  <img class="card-img-top" src="<%#= @post.image.url if @post.image.present?%>" alt="Card image cap">
		  <div class="card-body">
		    <p class="card-text"><strong>Author: </strong><%#= plan.plan_id%></p>
		    <p class="card-text"><strong>Body: </strong><%#= plan.duration%></p>
		    <p class="card-text"><strong>Tags: </strong><%#= plan.price%></p>
		    <p class="card-text"><strong>Published: </strong><%#= plan.description%></p>
		    <%#= link_to "Subscribe Now", subscription_stripe_payments_path(id:plan.id), method: :post, class:"subscribe mt-5"  unless current_admin_user.admin? %>
		  </div>
		</div>
	<%#end%>
</div> -->