// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body{
  background: #d2d3d517;
}
.fa-trash{
  color: red;
}

.card-show input[type="submit"]{
  position: absolute;
  right: 30px;
}
.card-show{
  margin: 0rem 2rem;
  text-align: center;
  border-bottom: 3px solid #dfd7d757;
}
.card-show-child{
  display: inline-block;
  padding: 1rem 1rem;
}
.fa-common{
  padding: 0px 10px;
  margin: 10px;
  display: block;
  /*border: 1px solid #ddd1d1;
  border-radius: 50%;*/
}
.card-parent {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 1rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
.card-child {
  display: inline-block;
  padding: 1rem 1rem;
  vertical-align: middle;
}
img{
  height: 100px;
}
.svg_icon{
  position: absolute;
  left: 70px;
  top: 20px;
  color: #0fd0f1;
}

.card-child-action{
  display: -webkit-inline-box;
  padding: 15px;
}
.item-quantity{
  box-sizing: border-box;
  padding: 0px 26px;
  line-height: 2.2;
  border-top: 2px solid green;
  border-bottom: 2px solid green;
}

.trash-button{
  position: absolute;
  right: 385px;
}
.trash-button button{
  border: none;
  background: white;
  font-size: 20px;
}

.card-parent{
  background: white;
  border-radius: 10px;
}

.plus{
  border-radius: 10px 0px 0px 10px;
  background: green;
  border: 2px solid green;
}

.minus{
  background: red;
  border: 2px solid red;
}

.paypal{
  background: blue;
  border: 2px solid blue;
  border-radius: 0px 10px 10px 0px;
}

.fa-paypal:before {
    content: "\f1ed";
    color: #eef2f3;
}

.fa-plus:before {
    content: "\f067";
    color: white;
}

.fa-minus:before {
    content: "\f068";
    color: white;
}


