body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.container {
    max-width: 700px;
    margin: 30px auto;
    background-color: #e8eaf6;
    padding: 75px !important;
    height: 615px;
    border-radius: 18px;
}
.m-0 {
    margin: 0 !important;
}
.mb-4 {
    margin-bottom: 1.5rem !important;
}
.ps-0 {
    padding-left: 0 !important;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex !important;
    flex-wrap: wrap !important;
    margin-right: -15px;
    margin-left: -15px;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

.box-right {
    padding: 22px 25px 0px 25px;
    background-color: white;
    border-radius: 15px;
}
.fw-bold {
    font-weight: 700 !important;
    padding: 0px 18px;
}
.ps-3 {
    padding-left: 1rem !important;
}
.textmuted {
    color: #7a7a7a;
}
.d-flex {
    display: flex !important;
}
.px-2 {
    padding-right: 0.5rem !important;
    padding-left: 0.5rem !important;
}
.ms-3 {
    margin-left: 1rem !important;
}
.fas, .far {
    cursor: pointer;
}
.pe-1 {
    padding-right: 0.25rem !important;
}
.mt-1 {
    margin-top: 0.25rem !important;
}
.align-text-top {
    vertical-align: text-top !important;
}

.col-12 {
    flex: 0 0 auto;
    width: 100%;
}

@media (min-width: 768px){
.col-md-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
}
.col-md-8 {
    flex: 0 0 auto;
    position: relative;
    padding-right: 15px;
    width: 66.66666667%;
    max-width: 66.666667%;
}
}



.px-0 {
    padding-right: 0 !important;
    padding-left: 0 !important;
}