// Place all the styles related to the OrderProducts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/*.btn {
	  background-color: #13abc4; 
    margin : 300px 200px auto;
    font-family: "Trebuchet MS"
}*/

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.order_product {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #0C4160 !important;
    padding: 30px 10px;
}

#staticBackdrop .card {
    max-width: 500px;
    margin: auto;
    color: black;
    border-radius: 20 px;
}

#staticBackdrop p {
    margin: 0px;
}

#staticBackdrop .container .h8 {
    font-size: 30px;
    font-weight: 800;
    text-align: center;
}

#staticBackdrop a:link, a:visited {
  background-color: #71787e;
}

#staticBackdrop .btn.btn-primary {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA 51%, #77A1D3 100%);
    border: none;
    transition: 0.5s;
    background-size: 200% auto;

}


#staticBackdrop .btn.btn.btn-primary:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}



#staticBackdrop .btn.btn-primary:hover .fas.fa-arrow-right {
    transform: translate(15px);
    transition: transform 0.2s ease-in;
}

#staticBackdrop .form-control {
    color: white;
    background-color: #223C60;
    border: 2px solid transparent;
    height: 60px;
    padding-left: 20px;
    vertical-align: middle;
}

#staticBackdrop .form-control:focus {
    color: white;
    background-color: #0C4160;
    border: 2px solid #2d4dda;
    box-shadow: none;
}

#staticBackdrop .text {
    font-size: 14px;
    font-weight: 600;
}

::placeholder {
    font-size: 14px;
    font-weight: 600;
}